@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-gray-900;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Roboto", sans-serif;
        font-weight: 600;
    }
}

@layer components {
    .btn {
        @apply px-6 py-3 rounded-lg font-semibold transition-colors duration-200;
    }

    .btn-primary {
        @apply bg-primary-600 text-white hover:bg-primary-700;
    }

    .btn-secondary {
        @apply bg-gray-800 text-white hover:bg-gray-900;
    }

    .container-custom {
        @apply max-w-6xl mx-auto;
    }
}
